@model BoekingViewModel

<h1>Reis</h1>
<h3>Bestemming</h3>
<p>@Model.Bestemming</p>

<h3>Vertrek</h3>
<p>@Model.Reis.Vertrek</p>

<h3>Aantal Dagen</h3>
<p>@Model.Reis.AantalDagen</p>

<h3>Prijs per persoon</h3>
<p>@Model.Reis.PrijsPerPersoon</p>


<h1>Klant</h1>
<p>@Model.Klant.Voornaam @Model.Klant.Familienaam</p>
<p>@Model.Klant.Adres </p>
<p>@Model.Klant.Woonplaats.Postcode @Model.Klant.Woonplaats.Naam</p>
 


<h1>Boeking</h1>
@*Nog aanvullen met form Boeking*@
