@model BoekingViewModel

<h1>Reis</h1>
<h3>Bestemming</h3>
<p>@Model.Bestemming</p>

<h3>Vertrek</h3>
<p>@Model.Reis.Vertrek</p>

<h3>Aantal Dagen</h3>
<p>@Model.Reis.AantalDagen</p>

<h3>Prijs per persoon</h3>
<p>@Model.Reis.PrijsPerPersoon</p>


<h1>Klant</h1>
<p>@Model.Klant.Voornaam @Model.Klant.Familienaam</p>
<p>@Model.Klant.Adres </p>
<p>@Model.Klant.Woonplaats.Postcode @Model.Klant.Woonplaats.Naam</p>
 


<h1>Boeking</h1>
@*Nog aanvullen met form Boeking*@
<form asp-action="BoekingDoen"  method="Post">
    <div>
        <label>Aantal Volwassenen: <input name="aantalVol" /></label><br />
       
        <label>Aantal Kinderen: <input name="aantalKind" /></label><br />

        
        
        
        <label><input type="checkbox" name="annulatieVerzekering" checked="checked" value="true" /> annulatieVerzekering</label><br />
    </div>
    <input type="submit" value="Boeken" class="btn btn-primary ms-3 mt-2" />
</form>